*{
    padding: 0;
    margin: 0;
}

body{
    background-color:black;
}

.zamov div:hover{
    background-color: #F8CF26;
}
.complete{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 200px;
}

.thx{
    color: white;
    text-align: center;
    font-size: 45px;
    display: flex;
    justify-content: center;
    font-family: "Comfortaa";
}

.header {
    background-color: #000000;
    height: 250px;
    width: 1920px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    font-size: 24px;
    font-family: "Comfortaa";
    margin:0 auto;
    max-width: 1920px;
}

.menu{
    display: flex;
    list-style: none;
    align-self: center;
    margin-right: 150px;
}

.menu li{
    margin-left: 120px;
}

.menu li a{
    color: #F7F0F5;
    text-decoration: none;
}

.menu li a:hover{
    color: #FFC759;
}

.logo {
    height: 215px;
    width: 215px;
    margin-left: 100px;
}

.messangers{
    display: none;
    width: 350px;
    background-color: #F7F0F5;
    border-radius: 20px;
    display: flex;
    list-style: none;
    margin-right: 100px;
}

.messangers li a img{
    width: 60px;
    height: 60px;
    margin-left: 24px;
    margin-top: 5px;
}

.product{
    width: 1920px;
    background-color: black;
    opacity: 0.95;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

.product p{
    color: white;
    text-align: center;
    font-size: 45px;
    display: flex;
    justify-content: center;
    font-family: "Comfortaa";
    margin-top: 100px;
}

.prod1{
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 10px;
}

.prod1 a{
    text-decoration: none;
}

.prod1 li{
    margin: 0 53px;
}

.prod1 li div{
    width: 900px;
    height: 650px;
    background-color: #FFC759;
    border-radius: 5px;
}

.prod1 li div div img{
    width: 100px;
    height: 100px;
}

.prod1 li div img{
    width: 900px;
    height: 540px;
    border-radius: 5px 5px 0px 0px;
}

.prod1 li div div{
    margin: 0;
    width: 900px;
    height: 110px;
    display: flex;
    justify-content: center;
}

.prod1 li div div div{
    align-self: center;
    height: 114px;
    width: 220px;
    background-color: #E63946;
    border-radius: 0 0 5px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin-top: -5px;
}

.prod1 li div div p{
    color: black;
    text-align: center;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    font-family: "Comfortaa";
    width: 680px;
    height: 110px;
    margin-top: 0;
    margin-right: 0
}

.footer{
    background-color: #000000;
    height: 250px;
    width: 1920px;
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    max-width: 1920px;
}


.logo2{
    height: 215px;
    width: 215px;
    margin-left: 100px;
    margin-top: 18px;
}

.fot{
    display: flex;
    list-style: none;
}

.fot li ul{
    list-style: none;
    margin-left: 50px;
}

.fot li ul li{
    margin-top: 10px;
    text-decoration: none;
    font-family: "Comfortaa";
    font-size: 20px;
    color: #ffffff;
}

.fot li ul li a{
    text-decoration: none;
    font-family: "Comfortaa";
    font-size: 20px;
    color: #ffffff;
}

.fot li ul li p{
    color: #FFC759;
    font-family: "Comfortaa";
    font-size: 24px;
    margin-top: 48px;
}

.for-img{
    margin-top: 34px;
    height: 215px;
    width: 330px;
}

.prod-phone1{
    display: none;
}

.phon-menu{
    display: none;
}

.messangers-phone{
    display: none;
}

.product span{
    color: white;
    text-align: center;
    font-size: 35px;
    display: flex;
    justify-content: center;
    font-family: "Comfortaa";
    margin-top: 30px;
}

.is-empty{
    color: white;
    text-align: center;
    font-size: 35px;
    display: flex;
    justify-content: center;
    font-family: "Comfortaa";
    margin-top: 30px;
}

.zamov{
    text-decoration:none;
    display: flex;
    justify-content: center;
}

.zamov div{
    width: 400px;
    height: 100px;
    background-color: #F7F052;
    border-radius: 5px;
    text-align: center;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100px;
    font-family: "Comfortaa";
    font-weight: 700;
    font-size: 54px;
    color: #000000;
}

.zamov div p{
    margin: 0;
    color:black;
    text-align: center;
}


@media all and (max-width: 600px){
    .complete{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 100px;
    }

    .thx{
        color: white;
        text-align: center;
        font-size: 30px;
        display: flex;
        justify-content: center;
        font-family: "Comfortaa";
    }

    .header {
        background-color: #000000;
        height: 75px;
        width: 600px;
        align-items: center;
        justify-content: space-between;
        display: flex;
        font-size: 24px;
        font-family: "Comfortaa";
        margin:0 auto;
        max-width: 1920px;
    }

    .menu{
        display: none;
    }

    .messangers{
        display: none;
    }

    .logo {
        height: 50px;
        width: 50px;
        margin-left: 20px;
    }

    .phon-menu{
        display: flex;
        height: 17px;
        width: 30px;
        margin-right:20px;
    }

    .product{
        height: auto;
        width: 600px;
        background-color: black;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
    }

    .product p{
        color: white;
        text-align: center;
        font-size: 25px;
        display: flex;
        justify-content: center;
        font-family: "Comfortaa";
        margin-top: 35px;
    }

    .prod1{
        display: none;
    }

    .prod-phone1{
        display: flex;
        list-style: none;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .prod-phone1 a{
        text-decoration: none;
    }

    .prod-phone1 li{
        margin: 5px 20px;
    }

    .prod-phone1 li div{
        width: 180px;
        height: 120px;
        background-color: #FFC759;
        border-radius: 5px;
    }

    .prod-phone1 li div div img{
        width: 18px;
        height: 18px;
    }

    .prod-phone1 li div img{
        width: 180px;
        height: 102px;
        border-radius: 5px 5px 0px 0px;
    }

    .prod-phone1 li div div{
        margin: 0;
        width: 180px;
        height: 18px;
        display: flex;
        justify-content: center;
    }

    .prod-phone1 li div div div{
        align-self: center;
        height: 23px;
        width: 30px;
        background-color: #E63946;
        border-radius: 0 0 5px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        margin-top: -4px;
    }

    .prod-phone1 li div div p{
        color: black;
        text-align: center;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        font-family: "Comfortaa";
        width: 150px;
        height: 13px;
        margin-top: 0;
        margin-right: 0
    }

    .footer{
        background-color: #000000;
        height: 75px;
        width: 600px;
        display: flex;/*flex*/
        justify-content: space-between;
        margin:0 auto;
        max-width: 1920px;
    }


    .logo2{
        height: 50px;
        width: 50px;
        margin-left: 20px;
        margin-top: 13px;
    }

    .fot{
        display: none;
    }

    .for-img{
        display: none;
    }

    .messangers-phone{
        display: flex;
        width: 136px;
        height: 40px;
        background-color: #F7F0F5;
        border-radius: 20px;
        list-style: none;
        margin-top: 17px;
        margin-right: 20px;
    }

    .messangers-phone li a img{
        width: 32px;
        height: 32px;
        margin-left: 10px;
        margin-top: 4px;
    }

    .zamov :hover{
        background-color: #F8CF26;
    }

    .zamov div:hover{
        background-color: #F8CF26;
    }

    .zamov{
        text-decoration:none;
        display: flex;
        justify-content: center;
    }

    .zamov div{
        width: 200px;
        height: 50px;
        background-color: #F7F052;
        border-radius: 5px;
        text-align: center;
        margin-top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 100px;
        font-family: "Comfortaa";
        font-weight: 700;
        font-size: 30px;
        color: #000000;
    }

    .zamov div:hover{
        background-color: #F8CF26;
    }
    .zamov div p{
        margin: 0;
        color:black;
        text-align: center;
    }
}
