*{
    padding: 0;
    margin: 0;
}

.phon1{
    background-image: url("photo/a2.jpg");
    opacity: 0.95;
    height: 750px;
    width: 1920px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.phon1 div{
    margin-top: 130px;
    display: flex;
    flex-direction: column;
}

.phon1 div p{
    text-align: center;
    font-family: "Lora", bold;
    color: #F7F0F5;
}


.header {
    background-color: #0D0E0E;
    height: 250px;
    width: 1920px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    font-size: 24px;
    font-family: "Comfortaa";
    margin:0 auto;
}

.menu{
    display: flex;
    list-style: none;
    align-self: center;
    margin-right: 150px;
}

.menu li{
    margin-left: 120px;
}

.menu li a{
    color: #F7F0F5;
    text-decoration: none;
}

.menu li a:hover{
    color: #FFC759;
}

.logo {
    height: 215px;
    width: 215px;
    margin-left: 100px;
}

.phon-menu{
    display: none;
}

.messangers{
    display: none;
    width: 350px;
    background-color: #F7F0F5;
    border-radius: 20px;
    display: flex;
    list-style: none;
    margin-right: 100px;
}

.messangers li a img{
    width: 60px;
    height: 60px;
    margin-left: 24px;
    margin-top: 5px;
}

.txt1{
    font-size: 75px;
}

.txt2{
    font-size: 55px;
}

.zamov{
    text-decoration: none;
    width: 400px;
    height: 100px;
    background-color: #F7F052;
    border-radius: 5px;
    text-align: center;
    margin:0 auto;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100px;
    font-family: "Comfortaa";
    font-weight: 700;
    font-size: 54px;
    color: #000000;
}

.zamov :hover{
    background-color: #F8CF26;
}

.zamov div:hover{
    background-color: #F8CF26;
}

.zamov div{
    width: 400px;
    height: 100px;
    background-color: #F7F052;
    border-radius: 5px;
    text-align: center;
    margin:0 auto;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100px;
    font-family: "Comfortaa";
    font-weight: 700;
    font-size: 54px;
    color: #000000;
}

.why{
    background-color: #FFC759;
    height: 810px;
    width: 1920px;
    opacity: 0.9;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.why p{
    font-size: 54px;
    font-family: "Comfortaa";
    font-weight: 700;
    text-align: center;
    margin-top: 125px;
    display: flex;
    justify-content: center;
}

.log{
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 100px;
}


.log li{
    margin:0 115px;

}


.log li div {
    width: 400px;
    height: 300px;
    background-color: black;
    border-radius: 20px;
    text-align: left;
}

.log li div p{
    color: white;
    text-align: left;
    font-size: 40px;
    display: inline-block;
    font-family: "Comfortaa";
    margin-left: 20px;
    margin-top: 40px;
}

.log-phone{
    display: none;
}


.log li div img {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: space-around;
    float: right;
    margin:10px 15px 0 0;
}

.product{
    height: 920px;
    width: 1920px;
    background-image: url("photo/f2.jpg");
    opacity: 0.9;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

.product p{
    color: white;
    text-align: center;
    font-size: 45px;
    display: flex;
    justify-content: center;
    font-family: "Comfortaa";
    margin-top: 150px;
}

.prod-phone{
    display: none;
}

.prod{
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 80px;
}

.prod a{
    text-decoration: none;
}

.prod li{
    margin: 0 53px;
}

.prod li div{
    width: 250px;
    height: 425px;
    background-color: #FFC759;
    border-radius: 5px;
}

.prod li div div img{
    width: 30px;
    height: 30px;
}

.prod li div img{
    width: 250px;
    height: 352px;
}

.prod li div div{
    margin: 0;
    width: 250px;
    height: 73px;
    display: flex;
    justify-content: center;
}

.prod li div div div{
    align-self: center;
    height: 77px;
    width: 72px;
    background-color: #E63946;
    border-radius: 0 0 5px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin-top: -5px;
}

.prod li div div p{
    color: black;
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    font-family: "Comfortaa";
    width: 178px;
    height: 72px;
    margin-top: 0;
    margin-right: 0
}

.message{
    height: 1150px;
    width: 1920px;
    background-image: url("photo/phon6.jpg");
    opacity: 0.85;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top:0;
}

.message p{
    color: white;
    text-align: left;
    font-size: 45px;
    font-family: "Comfortaa";
    margin-top: 130px;
    margin-left: 100px;
}

.mes{
    margin-top: 40px;
    list-style: none;
    margin-left: 100px;
}

.mes-phone{
    display: none;
}

.mes li{
    height: 80px;
    width: 700px;
    opacity: 0.7;
    margin-top: 30px;
    background-color: #000000;
    border: 1px solid #FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mes li p{
    margin-top: 0px;
    margin-left: 30px;
    color: white;
    opacity: 1;
    font-size: 30px;
    font-family: "Comfortaa";
}

.message a{
    text-decoration: none;
}

.nadislaty{
    width: 350px;
    height: 100px;
    background-color: #F7F052;
    border-radius: 5px;
    margin-left: 100px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100px;
    font-family: "Comfortaa";
    font-weight: 700;
    font-size: 40px;
    color: black;
}

.nadislaty:hover{
    background-color: #F8CF26;
}

.footer{
    background-color: #0D0E0E;
    height: 250px;
    width: 1920px;
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    max-width: 1920px;
}


.logo2{
    height: 215px;
    width: 215px;
    margin-left: 100px;
    margin-top: 18px;
}

.fot{
    display: flex;
    list-style: none;
}

.fot li ul{
    list-style: none;
    margin-left: 50px;
}

.fot li ul li{
    margin-top: 10px;
    text-decoration: none;
    font-family: "Comfortaa";
    font-size: 20px;
    color: #ffffff;
}

.fot li ul li a{
    text-decoration: none;
    font-family: "Comfortaa";
    font-size: 20px;
    color: #ffffff;
}

.fot li ul li p{
    color: #FFC759;
    font-family: "Comfortaa";
    font-size: 24px;
    margin-top: 48px;
}

.for-img{
    margin-top: 34px;
    height: 215px;
    width: 330px;
}

.messangers-phone{
    display: none;
}

@media all and (max-width: 600px) {
    .phon1 div{

        display: flex;
        flex-direction: column;
    }

    .phon1 {
        background-image: url("photo/a2.jpg");
        opacity: 0.95;
        height: 285px;
        width: 600px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }


    .phon1 div p {
        text-align: center;
        font-family: "Lora", bold;
        color: #F7F0F5;
        margin-top: -100px;
    }


    .header {
        background-color: #0D0E0E;
        height: 75px;
        width: 600px;
        opacity: 0.95;
        align-items: center;
        justify-content: space-between;
        display: flex;
        font-size: 24px;
        font-family: "Comfortaa";
        margin: 0 auto;
    }

    .txt1 {
        padding-top: 25px;
        font-size: 30px;
    }

    .txt2 {
        font-size: 20px;
    }

    .menu {
        display: none;
    }

    .logo {
        height: 50px;
        width: 50px;
        margin-left: 20px;
    }

    .phon-menu {
        display: flex;
        height: 17px;
        width: 30px;
        margin-right: 20px;
    }

    .messangers {
        display: none;
    }

    .zamov {
        text-decoration: none;
        width: 100px;
        height: 30px;
        background-color: #F7F052;
        border-radius: 5px;
        text-align: center;
        margin:0 auto;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 100px;
        font-family: "Comfortaa";
        font-weight: 700;
        font-size: 15px;
        color: #000000;
    }

    .zamov div:hover {
        background-color: #F8CF26;
    }

    .zamov div {
        width: 100px;
        height: 30px;
        background-color: #F7F052;
        border-radius: 5px;
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 100px;
        font-family: "Comfortaa";
        font-weight: 700;
        font-size: 15px;
        color: #000000;
    }

    .why {
        background-color: #FFC759;
        height: 170px;
        width: 600px;
        opacity: 0.9;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
    }

    .why p {
        font-size: 20px;
        font-family: "Comfortaa";
        font-weight: 700;
        text-align: center;
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    .log {
        display: none;
    }

    .log-phone {
        width: 600px;
        display: flex;
        list-style: none;
        justify-content: center;
        margin-top: 20px;
    }


    .log-phone li {
        margin: 0 45px;

    }


    .log-phone li div {
        width: 120px;
        height: 75px;
        background-color: black;
        border-radius: 20px;
        text-align: left;
    }

    .log-phone li div p {
        color: white;
        text-align: left;
        font-size: 10px;
        display: inline-block;
        font-family: "Comfortaa";
        margin-left: 10px;
        margin-top: 12px;
    }

    .log-phone li div img {
        height: 25px;
        width: 25px;
        display: flex;
        justify-content: space-around;
        float: right;
        margin: 5px 7px 0 0;
    }

    .product {
        height: 285px;
        width: 600px;
        background-image: url("photo/f2.jpg");
        opacity: 0.9;
        display: flex; /*flex*/
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
    }

    .product p {
        color: white;
        text-align: center;
        font-size: 20px;
        display: flex;
        justify-content: center;
        font-family: "Comfortaa";
        margin-top: 20px;
    }

    .prod {
        display: none;
        list-style: none;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .prod-phone {
        display: flex;
        list-style: none;
        justify-content: center;
        margin-top: 20px;
    }

    .prod-phone a {
        text-decoration: none;
        width: 200px;
    }

    .prod-phone li {
        margin: 0 43px;
    }

    .prod-phone li div {
        width: 120px;
        height: 170px;
        background-color: #FFC759;
        border-radius: 5px 5px 0 0;
    }

    .prod-phone li div div img {
        width: 12px;
        height: 12px;
    }

    .prod-phone li div img {
        width: 120px;
        height: 170px;
        border-radius: 5px 5px 0 0;
    }

    .prod-phone li div div {
        margin: 0;
        width: 120px;
        height: 29px;
        display: flex;
        justify-content: center;
        border-radius: 0 0 5px 5px;
    }

    .prod-phone li div div div {
        align-self: center;
        height: 29px;
        width: 29px;
        background-color: #E63946;
        border-radius: 0 0 5px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        margin-top: 0px;
    }

    .prod-phone li div div p {
        color: black;
        text-align: center;
        font-size: 9px;
        display: flex;
        flex-direction: column;
        font-family: "Comfortaa";
        width: 91px;
        height: 29px;
        margin-top: 0;
        margin-right: 0
    }


    .message {
        height: 220px;
        width: 600px;
        background-image: url("photo/phon6.jpg");
        opacity: 0.85;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 0;
    }

    .message p {
        color: white;
        text-align: left;
        font-size: 12px;
        font-family: "Comfortaa";
        margin-top: 23px;
        margin-left: 20px;
    }

    .mes {
        display: none;
    }


    .mes-phone {
        display: flex;
        flex-direction: column;
        margin-top: 8px;
        list-style: none;
        margin-left: 20px;
    }

    .mes-phone li {
        height: 15px;
        width: 135px;
        opacity: 0.7;
        margin-top: 6px;
        background-color: #000000;
        border: 1px solid #FFFFFF;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .mes-phone li p {
        margin-top: 0px;
        margin-left: 5px;
        color: white;
        opacity: 1;
        font-size: 7px;
        font-family: "Comfortaa";
    }

    .message a {
        text-decoration: none;
        width: 200px;
    }

    .nadislaty {
        width: 80px;
        height: 20px;
        background-color: #F7F052;
        border-radius: 5px;
        margin-left: 20px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 20px;
        font-family: "Comfortaa";
        font-weight: 700;
        font-size: 10px;
        color: black;
    }

    .nadislaty:hover {
        background-color: #F8CF26;
    }

    .footer {
        background-color: #0D0E0E;
        height: 75px;
        width: 600px;
        opacity: 0.95;
        display: flex; /*flex*/
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1920px;
    }


    .logo2 {
        height: 50px;
        width: 50px;
        margin-left: 20px;
        margin-top: 13px;
    }

    .fot {
        display: none;
    }

    .for-img {
        display: none;
    }

    .messangers-phone {
        display: flex;
        width: 136px;
        height: 40px;
        background-color: #F7F0F5;
        border-radius: 20px;
        list-style: none;
        margin-top: 17px;
        margin-right: 20px;
    }

    .messangers-phone li a img {
        width: 32px;
        height: 32px;
        margin-left: 10px;
        margin-top: 4px;
    }

}

