*{
	padding: 0;
	margin: 0;
}

header{
    display: none;
}

footer{
    display: none;
}

.phon{
	background-color: black;
	height: 1000px;
	width: 600px;
	display: flex;
	flex-direction: column;
}

.x{
	height: 27px;
	width: 27px;
	float: right;
	margin-right: 40px;
	margin-top: 20px;
}

.menu{
	margin-top: 0px;
	display: flex;
	align-self: center;
	flex-direction: column;
	list-style: none;
	align-self: center;
	font-size: 30px;
	font-family: "Comfortaa";
}

.menu li{
	align-self: center;
	margin-top: 30px;
}

.menu li a{
	color: #F7F0F5;
	text-decoration: none;
}

.menu li a:hover{
	color: #FFC759;
}

.messangers-phone{
	display: flex;
	align-self: center;
	width: 136px;
	height: 40px;
	background-color: #F7F0F5;
	border-radius: 20px;
	list-style: none;
	margin-top: 40px;
}

.messangers-phone li a img{
	width: 32px;
	height: 32px;
	margin-left: 10px;
	margin-top: 4px;
}
